[submodule "vim/vimfiles/bundle/vim-puppet"]
	path = vim/vimfiles/bundle/vim-puppet
	url = http://github.com/rodjek/vim-puppet.git
[submodule "vim/vimfiles/bundle/snipmate"]
	path = vim/vimfiles/bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "vim/vimfiles/bundle/molokai"]
	path = vim/vimfiles/bundle/molokai
	url = http://github.com/tomasr/molokai.git
[submodule "vim/vimfiles/bundle/surround"]
	path = vim/vimfiles/bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/vimfiles/bundle/minibufexpl"]
	path = vim/vimfiles/bundle/minibufexpl
	url = http://github.com/fholgado/minibufexpl.vim.git
[submodule "vim/vimfiles/bundle/nerdtree"]
	path = vim/vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vimfiles/bundle/nerdcommenter"]
	path = vim/vimfiles/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vimfiles/bundle/tagbar"]
	path = vim/vimfiles/bundle/tagbar
	url = http://github.com/majutsushi/tagbar
[submodule "vim/vimfiles/bundle/oh-l-l"]
	path = vim/vimfiles/bundle/oh-l-l
	url = http://github.com/vim-scripts/oh-l-l.git
[submodule "vim/vimfiles/bundle/vim-nagios"]
	path = vim/vimfiles/bundle/vim-nagios
	url = http://github.com/bigbrozer/vim-nagios.git
