Source: system-vim-config
Section: misc
Priority: extra
Maintainer: Vincent BESANCON <vincent.besancon@faurecia.com>
Build-Depends: debhelper (>= 8.1.0)
Standards-Version: 3.9.3
Vcs-Git: http://monitoring-dc.app.corp/git/lib/vimrc.git
Vcs-Browser: http://monitoring-dc.app.corp/git/?p=lib/vimrc.git


Package: system-vim-config
Architecture: all
Pre-Depends: dpkg (>= 1.15.7.2~)
Depends: ${python:Depends}, ${misc:Depends}, vim, exuberant-ctags, fonts-inconsolata
Suggests: vim-gnome
Description: System wide Vim configuration
 This package setup the system-wide Vim/Gvim configuration.
