Source: system-vim-config
Section: misc
Priority: extra
Maintainer: Vincent BESANCON <vincent.besancon@faurecia.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Vcs-Git: http://github.com/bigbrozer/vimrc.git
Vcs-Browser: https://github.com/bigbrozer/vimrc


Package: system-vim-config
Architecture: all
Pre-Depends: dpkg (>= 1.15.7.2~)
Depends:
    ${misc:Depends},
    vim,
    python,
    exuberant-ctags,
    fonts-inconsolata
Suggests: vim-gnome
Replaces: vim-common, vim-gui-common, vim-tiny
Description: System wide Vim configuration
 This package setup the system-wide Vim/Gvim configuration.
