#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PACKAGE = $(shell dh_listpackages)
TMP 	= $(CURDIR)/debian/$(PACKAGE)

%:
	dh $@ 

override_dh_install:
	dh_install
	
	# Delete git files
	find ${TMP} -name ".gitignore" -exec rm {} \;
	
	# Remove executable bit from some files
	find ${TMP}/usr/share/system-vim-config/bundle/powerline \
		-type f -executable \
		-exec chmod -x {} \;
	find ${TMP}/usr/share/system-vim-config/bundle/tlib_vim \
		-type f -executable \
		-exec chmod -x {} \;
	find ${TMP}/usr/share/system-vim-config/bundle/vim-snippets \
		-type f -executable \
		-exec chmod -x {} \;
	
	# Fix perms
	chmod +x ${TMP}/usr/share/system-vim-config/bundle/powerline/fontpatcher/fontpatcher
	chmod +x ${TMP}/usr/share/system-vim-config/bundle/python-mode/pymode/autopep8.py
	chmod +x ${TMP}/usr/share/system-vim-config/bundle/python-mode/pymode/libs/pylama/lint/pylama_pep257/pep257.py
	chmod +x ${TMP}/usr/share/system-vim-config/bundle/python-mode/pymode/libs/pylama/lint/pylama_pep8/pep8.py
	chmod +x ${TMP}/usr/share/system-vim-config/bundle/python-mode/Rakefile
